<div class="title"><h2>User info</h2></div>


  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tr class="user-name">
      <th>name </th>
      <th><%= user.name %></th>
    </tr>
    <tr class="profile-introduction">
      <th>introduction </th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>follows</th>
      <th><%= user.following.count %></th>
    </tr>
    <tr>
      <th>followers</th>
      <th><%= user.followers.count %></th>
    </tr>
  </table>
    <p>
      <%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </p>
