<div class="title"><h2>User info</h2></div>


  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <table class="table">
    <tr class="user-name">
      <th>name </th>
      <th><%= user.name %></th>
    </tr>
    <tr class="profile-introduction">
      <th>introduction </th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>follows</th>
      <th><%= link_to "#{user.following.count}", following_user_path(user.id) %></th>
    </tr>
    <tr>
      <th>followers</th>
      <th><%= link_to "#{user.followers.count}", followers_user_path(user.id) %></th>
    </tr>
  </table>
    <p>
      <% if current_user == user %>
        <%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% else %>
        <%= link_to 'chatを始める', chat_path(@user.id)%>
        <% if current_user.following?(user) %>
              <div class="btn btn-info">
                <%= link_to "フォロー外す", user_relationship_path(user.id, user.id), method: :delete %>
              </div>
            <% else %>
              <div class="btn btn-success">
                <%= link_to "フォローする", user_relationships_path(user.id), method: :post %>
              </div>
        <% end %>
      <% end %>
    </p>
