<main>

<div class="container">
  <div class="row">

<div class="col-md-3">
  <%= render "users/user_info", user: @user%>
  <%= render "books/new", book: @book_new%>
</div>


<div class="col-md-8 offset-md-1">
  <div class="title"><h1>Books</h1></div>

    <table class="table">
      <tr class="book-table">
        <th> </th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>

      <% @books.each do |book| %>
      <tr class="contents">
          <th><%= link_to user_path(book.user.id) do %>
            <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
            <%end%></th>
          <th class="content"><%= link_to "#{book.title}", book_path(book.id) %></th>
          <th class="content"><%= book.body %></th>
                      <th class="content">
              <% if book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(book.id), method: :delete do %>
                    ♥<%= book.favorites.count %> いいね
                  <% end %>
                </p>
                <% else %>
                <p>
                  <%= link_to book_favorites_path(book.id), method: :post do %>
                    ♡<%= book.favorites.count %> いいね
                  <% end %>
                </p>
              <% end %>
            </th>
          <th class="content">コメント数:<%= book.book_comments.count %></th>
      </tr>
      <% end %>
    </table>

  </div>

  </div>
</div>

</main>