<main>

<div class="container">
  <div class="row">
 
<div class="col-md-3">     
  <%= render "users/user_info", user: @book.user%>
  <%= render "books/new", book: @book_new%>
</div>
 
<div class="col-md-8 offset-md-1"> 
  <div class="title"><h1>Book detail</h1></div>
    <table class="table">
        <tr class="contents">
            <th><%= link_to user_path(@book.user) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
              <%= @book.user.name %>
              <% end %>
            </th>
            <th class="content"><%= @book.title %></th>
            <th class="content"><%= @book.body %></th>
            <% if @book.user.id == current_user.id %>
            <th class="link">
              <%= link_to "Edit", edit_book_path(@book.id) %>
              <%= link_to "Destroy", book_path, method: :delete, data: {confirm: "Are you sure？"}  %>
            <% end %>
            </th>
        </tr>
    </table>
</div>
    
  </div>
</div>

</main>